<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="common :: meta_header('Index',~{::link},~{::script})">
    <script>
      $(document).ready(function () {
        const hostname = $(location).attr("host");
        $.ajax({
          url: "http://" + hostname + "/api/parentsid/0",
        }).then(function (data) {
          // for debug
          console.log(data);
          for (var i = 0; i < data.length; i++) {
            console.log("id : " + data[i].id);
            console.log("contents : " + data[i].contents);
            $("#sysgrptbl").append(
              $("<tr></tr>")
                .append($("<td></td>").text(data[i].id))
                .append($("<td></td>").text(data[i].contents))
                .append(
                  $("<td></td>").html(
                    "<a href=/items?id=" + data[i].id + ">Links</a>"
                  )
                )
                .append($("<td></td>").html())
            );
          }
        });
      });
    </script>
  </head>
  <body>
    <div class="container-fluid">
      <div th:replace="common :: header"></div>
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">Index</li>
      </ol>

      <!-- ユーザーデータを以下に格納 -->
      <div id="sysgrp"></div>
      <table class="table table-hover" id="sysgrptbl">
        <thead>
          <tr>
            <th>
              Number
            </th>
            <th>
              contents
            </th>
            <th>
              Links
            </th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      <button onclick="location.href='/new?parentsid=0'">New!</button>
      <div th:replace="common :: footer"></div>
    </div>
  </body>
</html>
