<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <script th:src="@{/js/jquery-1.11.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/common.css}" rel="stylesheet" />
    <!-- Custom JavaScript -->
    <script>
      $(function () {
        $("button#new").click(function () {
          var button = $(this);
          button.attr("disabled", true);

          var data = {
            parentsId: $("#parentsId").val(),
            contents: $("#contents").val(),
          };

          $.ajax({
            type: "post",
            url: "http://localhost:8080/api/add",
            data: JSON.stringify(data),
            contentType: "application/json",
            dataType: "json",
          })
            .done(function (data) {
              alert("success");
              location.href = "/";
            })
            .fail(function () {
              alert("Error has occured.");
            })
            .then(function () {
              console.log();
              button.attr("disabled", false);
            });
        });
      });
    </script>
  </head>

  <body>
    <div class="container-fluid">
      <!-- ユーザーデータを以下に格納 -->
      <div class="form-group">
        <label for="contents">Contents:</label>
        <input type="text" id="contents" class="form-control" />
        <input type="hidden" id="parentsId" class="form-control" value="0" />
      </div>
      <div class="control-grpup">
        <div class="controls">
          <button id="new" type="button">New!</button>
        </div>
      </div>
    </div>
  </body>
</html>
